@media (min-width: 1200px) {
  .choice__block {
    gap: 50px;  
  }
  .choice__block img {
    width: 100%;
    padding-bottom: 5px;
  }
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
     white-space:nowrap;
}

}

@media (min-width: 992px) and (max-width: 1199px) {
  
    .commod__content {
    margin : 0 auto;
   }
  .commod__row {
    position: relative;
    width: 300px;
    overflow: hidden;
    height: 25px;
  };

  .commod__nav {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    overflow: auto;
    flex: none;
    background: white;
    position: absolute;
    white-space: nowrap; 
    
  }
  .commod__nav li {
    display: inline-block;
   } 


.commod__text {
 font-size: 20px;
}
.commod__block._active {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
}
.commod__column {
 grid-column: span 7;
}
.commod__img {
 grid-column: span 5;
}

  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  
  .choice__block img {
    width: 100%;
    padding-bottom: 5px;
  }
  

  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
     white-space:nowrap;
}
}


@media (min-width: 768px) and (max-width: 991px) {
  

  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
   
  /* .choice__column{
   gap: 0;
  } */
  .choice__img  {
    width: 360px;
    background-image: url('../img/home/choice-1.jpg');
    margin-bottom: 10px;
  }
 .commod__title {
    font-size: 30px;
  }
  ._container {
    max-width: 991px;
  }
  .commod__text {
    font-size: 20px;
   }
   
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 7;
   }
   .commod__img {
    grid-column: span 5;
   } это у нас деление на две колоники 


  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  
 
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
}
}



@media (min-width:480px) and (max-width: 767px) {
  .commod__img img {
    width: 130%;
  }
  .commod__text {
    font-size:17px;
  }
  .commod__title {
    font-size: 25px;
  }
  .commod__body {
    margin-right: 10px;
   }
   
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 7;
   }
   .commod__img {
    grid-column: span 5;
   }

  .choice__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
   
  /* .choice__column{
   gap: 0;
  } */
  .choice__img  {
    width: 360px;
    background-image: url('../img/home/choice-1.jpg');
    margin-bottom: 10px;
  }

  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
 .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column; 
    align-self: center;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  { 
     order: 5;
     margin-top: 25px;
}
.footer__logo {
  display: none;
}
}

@media (max-width: 479px) {
  .commod__img img {
    width: 180%;
  }
  .commod {
    margin-bottom: 0;
  }
  .commod__text {
    font-size:17px;
  }
  .commod__title {
    font-size: 20px;
  }
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   }
   .commod__column {
    grid-column: span 3;
   }
   .commod__img {
    grid-column: span 2;
   } 

  .choice__block {
    display: grid;
    grid-template-columns: 1fr;
    
    gap: 50px;
  }
   
  .choice__column{
   gap: 0;
  }
  .choice__img  {
    width: 100%;
    margin-bottom: 10px;
  }


 .footer__logo {
   display: none;
 }
 .footer__list {
   line-height: 0.8;
 }
 .footer__content {
  gap: 10px;
  margin: 0;
 }
 .footer__list:nth-of-type(2){
  display: flex;
  flex-direction: column;
  align-self: center;
}
.footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  { 
   order: 5;
   margin-top: 25px;
}

}

@media (max-width: 632px) {
  .support__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

@media (max-width: 992px) {
   
  .menu__sub-list {
    display: none;
  }

  .initial__control{
    display: none;
  }
 .wholesale {
  display: grid;
  grid-template-columns: 1fr;
 }
 
}

/* commod__row - wrapper, commod__nav - ul, commod__body - text, commod__img - img */

@media (min-width: 240px) {
  .commod__content {
     display: grid; 
     max-width: none;
  }
  .commod__row {
     justify-self: flex-end;
    width: 200px; 
    position: relative;
    overflow: hidden;

  }
  .commod__nav {
    flex: none;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    gap: 20px;
  }
  .commod__nav li  {
    display: inline-block;
    font-size: 15px;
  }

}

@media (min-width: 240px) and (max-width: 991px) { 
  .round__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    cursor: pointer;
  }
  .menu__list .menu__item:nth-last-of-type(1) {
    transform: translateX(-25px);
   }
  ._ibg > img{
    width: auto;
  }
   .header__burger {
     display: inline-block;
    }
    .header__menu label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .header__menu label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    
    .menu__body {
      position: absolute;
      gap: 20px;
      width: 100%;  
     background: linear-gradient(to bottom, #000000, #000000); 
      height: 0;
      transition: all 0.5s ease-in-out;
       top: 95px; 
      left: 0;
      overflow: hidden;
    }
    .menu__list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    
    .checked__burger {
      height: 100vh;
    }
}

