@media (min-width: 1200px) {
  .round__btn {
    display: none;
  }
  .choice__block {
    gap: 50px;  
  }
  .choice__block img {
    width: 100%;
    padding-bottom: 5px;
  }
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
     white-space:nowrap;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .round__btn {
    display: none;
  }
    .menu__item:not(:last-child) {
      margin-right: 0;
    }

    .menu__list {
      gap: 40px
    }
    .menu__btn:first-child {
      transform:translateX(25px)
    }
    .commod__content {
    margin : 0 auto;
   }
  .commod__row {
    position: relative;
    width: 300px;
    overflow: hidden;
    height: 25px;
  };

  .commod__nav {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    overflow: auto;
    flex: none;
    background: white;
    position: absolute;
    white-space: nowrap; 
    
  }
  .commod__nav li {
    display: inline-block;
   } 

 .commod__text {
 font-size: 20px;
}
 .commod__block._active {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
}
 .commod__column {
 grid-column: span 7;
}
 .commod__img {
 grid-column: span 5;
}

 .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  
 .choice__block img {
    width: 100%;
    padding-bottom: 5px;
  }
  
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
     white-space:nowrap;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .commod__nav {
    justify-content: end;
    gap: 10px;
  }
  .header__content {
    padding: 0;
  }
  .initial__content {
    transform: translateX(190px)
  }
  .initial__title {
    font-size: 40px;
  }
  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
   
  .choice__img  {
    width: 360px;
    background-image: url('../img/home/choice-1.jpg');
    margin-bottom: 10px;
  }
  .commod__title {
    font-size: 30px;
  }
  ._container {
    max-width: 991px;
  }
  .commod__text {
    font-size: 20px;
   }
  .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 7;
   }
   .commod__img {
    grid-column: span 5;
   } 
  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
}
}

@media (min-width:480px) and (max-width: 767px) {
  .news__subtitle {
    font-size: 30px;
  }
  
  .initial__content .initial__links .btn {
    padding: 17px;
    font-size: 17px;
  }

  .initial__content {
    transform: translateX(100px)
  }
  .initial__text {
    font-size: 17px;
    line-height: 20px
  }
  .initial__title {
    font-size: 32px
  }
    
  .commod__img img {
    width: 130%;
  }
  .commod__text {
    font-size:17px;
  }
  .commod__title {
    font-size: 25px;
  }
  .commod__body {
    margin-right: 10px;
   }
   
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 7;
   }
   .commod__img {
    grid-column: span 5;
   }

  .choice__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  
  .choice__img  {
    width: 360px;
    background-image: url('../img/home/choice-1.jpg');
    margin-bottom: 10px;
  }

  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
 .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column; 
    align-self: center;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  { 
     order: 5;
     margin-top: 25px;
}
.footer__logo {
  display: none;
}
}

@media (max-width: 479px) {
  .initial__pagination {
    top: 93%
  }
  .initial__content .initial__links .btn {
    padding: 15px;
    font-size: 16px;
  }
  .initial__content {
    transform: translateX(80px);
    top: 15px;
  }
  .initial__title {
    font-size: 28px;
  }
  .initial__text {
    font-size: 14px;
    line-height: 17px;
  }
  
  .footer__list:nth-of-type(2) li:first-child {
   transform: translateX(20px)
  }
  .footer__link, .footer__text {
    font-size: 12px;
    letter-spacing: normal;
 }

 .footer__list:nth-of-type(1) li:nth-child(n + 2) a {
  transform: translateY(20px);
  font-size: 14px;
 }
  .commod__img img {
    width: 180%;
  }
  .commod {
    margin-bottom: 0;
  }
  .commod__text {
    font-size:17px;
  }
  .commod__title {
    font-size: 20px;
  }
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   }
   .commod__column {
    grid-column: span 3;
   }
   .commod__img {
    grid-column: span 2;
   } 

  .choice__block {
    display: grid;
    grid-template-columns: 1fr;
    
    gap: 50px;
  }
   
  .choice__column{
   gap: 0;
  }
  .choice__img  {
    width: 100%;
    margin-bottom: 10px;
  }

 .footer__logo {
   display: none;
 }
 .footer__list {
   line-height: 1.2;
 }
 .footer__content {
  gap: 10px;
  margin: 0;
 }
 .footer__list:nth-of-type(2){
  display: flex;
  flex-direction: column;
  align-self: center;
}
.footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  { 
   order: 5;
   margin-top: 25px;
}

}

@media (max-width: 632px) {
  .support__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

@media (max-width: 992px) {
   
  .menu__sub-list {
    display: none;
  }

  .initial__control{
    display: none;
  }
}

@media (min-width: 240px) {
  .menu__list li:nth-child(n + 2) {
    transform: translateX(23px)
  }
   
  .commod__content {
     display: grid; 
     max-width: none;
  }
  .commod__row {
     justify-self: flex-end;
    width: 200px; 
    position: relative;
    overflow: hidden;

  }
  .commod__nav {
    flex: none;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    gap: 20px;
    padding-bottom: 5px;

  }
  .commod__nav li  {
    display: inline-block;
    font-size: 15px;
  }

}

@media (min-width: 240px) and (max-width: 991px) { 
   .round__btn {
     width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    cursor: pointer; 
    display: none;
  } 
  .menu__list .menu__item:nth-last-of-type(1) {
    transform: translateX(-5px);
   }
  ._ibg > img{
    width: 100%;
  }
  .upper__stick {
     transform: translateY(13px) rotate(45deg);
  }
   .middle__stick {
    opacity: 0;
  }
  .button__stick {
  transform: translateY(-13px) rotate(-45deg);
  } 

  .initial__slide img {
    width: auto;
  }
   .header__burger {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    /* background: white; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all .5s ease;
    margin: 1em;
    }
    .header__burger label {
      transition: all .5s ease;
    }
    .nav__check span {
      display: block;
      height: 3px;
      border-radius: 2px;
      background: #fff;
      margin: 10px;
      transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 40px;
    }
    
    .menu__body {
      position: absolute;
      gap: 20px;
      width: 100%;  
      background: linear-gradient(to bottom, #000000, #000000);   
      height: 0;
      transition: all 0.5s ease-in-out;
       top: 95px; 
      left: 0;
      overflow: hidden;
    }
    .menu__list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    
    .checked__burger {
      height: 100vh;
    }
}

@media(max-width: 1100px) {
  .wholesale {
    display: grid;
    grid-template-columns: 1fr;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .commod__nav {
    justify-content: end ;
  }
  .menu__body {
    top: 133px;
    }
    .round__btn {
      display: none;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
  .menu__body {
    top: 133px;
    }
}
@media (max-width: 479px) {
  .menu__body {
    top: 124px;
    }
}

@media (min-width: 768px) {
  .commod__row {
    width: 574px
  }
}
@media (min-width: 375px) and (max-width: 479px) {
  p.initial__text {
    transform: translateY(-42px)
  }
  h2.initial__title {
    transform: translateY(-20px)
  }
.news__subtitle{
  font-size: 25px;
}
  .commod__nav {
    gap: 10px;
  }
  .commod__row {
    transform: translate(20px, -5px);
  }
  .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 6;
   }
   .commod__img {
    grid-column: span 6;
   }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .commod__nav {
    width: auto;
  }
}