@media (min-width: 360px) and (max-width: 480px) {

.initial__slide img {
  width: 300%;
}
  .menu__body {
    top: 130px;
}
  .triangle {
    left: 40%;
    top: 323px
}
.triangle2 {
    left: 39.5%;
    top: 460px;
} 
  .why__title {
    font-size: 29px;
  }
  .why__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }
  .wholesale__title {
    font-size: 40px;
  }
  .wholesale__text {
    font-size: 17px;
  }
  .wholesale__link {
    font-size: 20px;
  }
  .choice__text{
    font-size: 17px;
  }
  .choice__subtext {
    font-size: 17px;
  }
  .one__text {
    font-size: 17px;
  }
  .one__title {
    font-size: 29px;
  }
  .support__title {
    font-size: 29px;
  }
  .support__text {
    font-size: 17px;
  }
  ._container {
    max-width: 480px;
  }
  .one__content {
    padding: 15px;
  }
  p.initial__text {
    transform: translateY(-42px)
  }
  h2.initial__title {
    transform: translateY(-20px)
  }
  
.news__subtitle{
  font-size: 29px;
}
.support__subtitle {
  font-size: 29px;
}
.support__subtext {
  font-size: 17px;
}
  .commod__nav {
    gap: 10px;
  }
  .commod__row {
    transform: translate(20px, -5px);
  }
  .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 6;
   }
   .commod__img {
    grid-column: span 6;
   }
}

@media (min-width: 481px) and (max-width: 768px) {

  ._container {
    max-width: 991px;
}
  .initial__pagination {
    top: 95%
  }
  .initial__slide img {
    width: 200%;
  } 
  .initial__content {
    top: 50px;
  }
  .menu__btn:first-child {
    margin-left: 19px;
  }
  .news__subtitle {
    font-size: 30px;
  }
  
  .initial__content .initial__links .btn {
    padding: 17px;
    font-size: 17px;
  }
  .initial__text {
    font-size: 17px;
    line-height: 20px
  }
  .initial__title {
    font-size: 32px
  }
    
  .commod__img img {
    width: 130%;
  }
  .commod__text {
    font-size:20px;
  }
  .commod__title {
    font-size: 25px;
  }
  .commod__body {
    margin-right: 10px;
   }
   
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 7;
   }
   .commod__img {
    grid-column: span 5;
   }

  .choice__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  
  .choice__img  {
    width: 360px;
    background-image: url('../img/home/choice-1.jpg');
    margin-bottom: 10px;
  }

  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
 .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column; 
    align-self: center;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  { 
     order: 5;
     margin-top: 25px;
}
.footer__logo {
  display: none;
}
  .triangle {
    left: 44%;
    top: 323px
}
.triangle2 {
    left: 43.5%;
    top: 460px
}
  .support__subtitle {
    font-size: 30px;
  }
  .support__title {
    font-size: 30px;
  }
  .support__text {
    font-size: 20px;
  }
  .initial__text {
    font-size: 20px
  }
  .wholesale__title {
    font-size: 40px;
  }
  .choice__text {
    font-size: 20px;
  }
  .menu__body {
    top: 133px;
    }
}
@media (min-width: 768px) {
  .commod__row {
    width: 574px
  }
}
@media (min-width: 768px) and (max-width: 991px) {
 
  ._container {
    max-width: 750px;
}
  .initial__slide img {
    width: 150%;
  } 
  .triangle {
    left: 45.2%;
    top: 323px
}
.triangle2 {
    left: 44.9%;
    top: 460px
}
.menu__body {
    top: 133px
}
  .menu__btn:first-child {
    margin-left: 28px;
  }
  .commod__nav {
    justify-content: end;
    gap: 10px;
  }
  .header__content {
    padding: 0;
  }
   .initial__content {
    max-width: 1000px;
  } 
  .initial__title {
    font-size: 40px;
  }
  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
   
  .choice__img  {
    width: 360px;
    background-image: url('../img/home/choice-1.jpg');
    margin-bottom: 10px;
  }
  .commod__title {
    font-size: 30px;
  }
  ._container {
    max-width: 991px;
  }
  .commod__text {
    font-size: 20px;
   }
  .commod__block._active {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   }
   .commod__column {
    grid-column: span 7;
   }
   .commod__img {
    grid-column: span 5;
   } 
  .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
}
}


@media (min-width: 992px) and (max-width: 1199px) {
 
  ._container {
    max-width: 970px;
  }
  .round__btn {
    display: none;
  }
    .menu__item:not(:last-child) {
      margin-right: 0;
    }

    .menu__list {
      gap: 40px
    }
    .menu__btn:first-child {
      transform:translateX(25px)
    }
    .commod__content {
    margin : 0 auto;
   }
  .commod__row {
    position: relative;
    width: 300px;
    overflow: hidden;
    height: 25px;
  };

  .commod__nav {
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;
    overflow: auto;
    flex: none;
    background: white;
    position: absolute;
    white-space: nowrap; 
    
  }
  .commod__nav li {
    display: inline-block;
   } 

 .commod__text {
 font-size: 20px;
}
 .commod__block._active {
 display: grid;
 grid-template-columns: repeat(12, 1fr);
}
 .commod__column {
 grid-column: span 7;
}
 .commod__img {
 grid-column: span 5;
}

 .choice__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  
 .choice__block img {
    width: 100%;
    padding-bottom: 5px;
  }
  
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
     white-space:nowrap;
}
}

@media (max-width: 479px) {
  .initial__pagination {
    top: 96%
  }
  .initial__content .initial__links .btn {
    padding: 15px;
    font-size: 16px;
  }
  .initial__content {
    top: 50px;
  }
  .initial__title {
    font-size: 28px;
  }
  .initial__text {
    font-size: 14px;
    line-height: 17px;
  }
  .footer__list:nth-of-type(2) li:first-child {
   transform: translateX(20px)
  }
  .footer__link, .footer__text {
    font-size: 12px;
    letter-spacing: normal;
 }

 .footer__list:nth-of-type(1) li:nth-child(n + 2) a {
  transform: translateY(20px);
  font-size: 14px;
 }
  .commod__img img {
    width: 180%;
  }
  .commod {
    margin-bottom: 0;
  }
  .commod__text {
    font-size:17px;
  }
  .commod__title {
    font-size: 20px;
  }
   .commod__block._active {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   }
   .commod__column {
    grid-column: span 3;
   }
   .commod__img {
    grid-column: span 2;
   } 

  .choice__block {
    display: grid;
    grid-template-columns: 1fr;
    
    gap: 50px;
  }
   
  .choice__column{
   gap: 0;
  }
  .choice__img  {
    width: 100%;
    margin-bottom: 10px;
  }

 .footer__logo {
   display: none;
 }
 .footer__list {
   line-height: 1.2;
 }
 .footer__content {
  gap: 10px;
  margin: 0;
 }
 .footer__list:nth-of-type(2){
  display: flex;
  flex-direction: column;
  align-self: center;
}
.footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  { 
   order: 5;
   margin-top: 25px;
}

}

@media (max-width: 632px) {
  .support__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

@media (max-width: 992px) {
   
  .menu__sub-list {
    display: none;
  }

  .initial__control{
    display: none;
  }
}

@media (min-width: 240px) {

  .commod__content {
     display: grid; 
     max-width: none;
  }
  .commod__row {
     justify-self: flex-end;
    width: 200px; 
    position: relative;
    overflow: hidden;

  }
  .commod__nav {
    flex: none;
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    gap: 20px;
    padding-bottom: 5px;

  }
  .commod__nav li  {
    display: inline-block;
    font-size: 15px;
  }

}

@media (min-width: 240px) and (max-width: 991px) { 
   .round__btn {
     width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    cursor: pointer; 
    display: none;
  } 
  .header__burger {
    width: 55px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all .5s ease;
    margin: 1em;
    }
    .header__burger label {
      transition: all .5s ease;
    }
    .nav__check span {
      display: block;
      height: 3px;
      border-radius: 2px;
      background: #fff;
      margin: 10px;
      transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
      width: 40px;
    }
    
    .menu__body {
      position: absolute;
      gap: 20px;
      width: 100%;  
       background: linear-gradient(to bottom, #000000, #000000);    
      height: 0;
      transition: all 0.5s ease-in-out;
      left: 0;
      overflow: hidden;
    }
    .menu__list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
    
    .checked__burger {
      height: 100vh;
    }   /*burger*/
    .upper__stick {
        transform: translateY(13px) rotate(45deg);
     }
      .middle__stick {
       opacity: 0;
     }
     .button__stick {
     transform: translateY(-13px) rotate(-45deg);
     } 
       
        .firstUl > li:nth-of-type(1) {
        transform: translateX(-10px);
       }
       .menu__item:not(:last-child) {
        margin: 0 auto;
       }
      
    .fourth__li__big {
        transform: translate(0, 210px);
        transition: all .5s ease;
        
    }
    .fifth__li__big {
        transform: translate(0, 190px);
        transition: all .5s ease;
        
    }
    .sixth__li__big {
        transform: translate(0, 185px);
        transition: all .5s ease;
    }
    .sixth__li__about {
            transform: translate(0, 40px);
        
    }
    .menu__sub-item:not(:last-child) {
        border: none
    }
    .menu__sub-item {
        padding: 0;
    }
    /* .header {
        position: fixed;
    } */
     .menu__sub-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: none;
        background: linear-gradient(to bottom, #000000, #000000);
     
    }
    .visible__sub {
            display: flex;
            flex-direction: column;
            top:0;
            gap: 15px;
            pointer-events: all;
            opacity: 1;
            visibility: visible;
            background: none;
            border: none;
            margin: 0 auto;
            transition: all .5s ease;
           
    }
    .menu__item:hover .menu__sub-list {
        margin: 0 auto;
        top: 20px;
    }
   
    .menu__sub-link {
        color: #fff;
        font-weight: bolder;
    }
    .triangle {
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid #fff; 
        margin-left: 5px; 
        transform: rotate(90deg) translateY(-110px); 
        transition: all .2s ease-in-out;  
        visibility: hidden;
  
    }
   
    .triangle2 {
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid #fff; 
        margin-left: 5px; 
        transform: rotate(90deg) translateY(-110px); 
        transition: all .2s ease-in-out;  
        visibility: hidden;
        
    }
    .triangle__hidden {
        visibility: visible;
    }
    .triangle2__transformed-big {
        transform: rotate(90deg) translate(190px, -110px);
    }
    .triangle2__clicked-both {
        transform: translate(0, 230px);;
    }
    .firstUl > li {
        transition: all .2s ease-in-out;
    }
    .menu__sub-list::before {
        display: none;
    }
    .menu__link {
        font-size: 18px;
    }
    .menu__sub-item {
        margin: 0 auto;
    }
    .firstUl > li:nth-of-type(5) .menu__sub-list {
        top: 20px;
    }    
    .checked__burger {
      height: 100vh;
    }
}

@media(max-width: 1100px) {
  .wholesale {
    display: grid;
    grid-template-columns: 1fr;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  .commod__nav {
    justify-content: end ;
  }
  .menu__body {
    top: 133px;
    }
    .round__btn {
      display: none;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .commod__nav {
    width: auto;
  }
}

@media (min-width: 1200px) {

  .round__btn {
    display: none;
  }
  .choice__block {
    gap: 50px;  
  }
  .choice__block img {
    width: 100%;
    padding-bottom: 5px;
  }
  .footer__list:nth-of-type(2){
    display: flex;
    flex-direction: column;
  }
  .footer__list:nth-of-type(2) .footer__item:nth-of-type(2)  {    
     order: 5;
     margin-top: 25px;
     white-space:nowrap;
}
}